@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #22254b;
    margin: 0;
    font-family: "Rubik", sans-serif;
}

header {
    background-color: #373b69;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.search {
    background-color: transparent;
    padding: 0.5rem 1rem;
    font-family: inherit;
    font-size: 1rem;
    color: #fff;
    border-radius: 50px;
    border: 2px solid #22254b;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    outline: none;
    background-color: #22254b;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.movie {
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.8);
    width: 300px;
    margin: 2rem;
    background-color: #373b69;
}

.movie img {
    width: 100%;
}

.movie-info {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1rem 1rem;
    color: #eee;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}
